/*전체*/
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	html, body {
		background-color: white;
		height: 100%;
	}
	a {
	    list-style-type: none;
	    text-decoration: none;
	    color: black;
	}
/*년도별 선택 영역*/
	.countYear {
		width: 40%;
		height: 100%;
		padding-top: 80px;
		float: left;
		clear: both;
		text-align: center;
		font-family: 'Jua', sans-serif;
		font-size: 30px;
		background-color: #F7DBF0;
	}
	.countYearImg img {
		width: 70%;
		border-radius: 30px;
		box-shadow: 1px 1px 10px 1px gray;
	}
	.countYear:hover {
		background: #FDFFBC;
	}
/*월별 선택 영역*/
	.countMonth {
		width: 60%;
		height: 100%;
		padding-top: 80px;
		display: inline-block;
		clear: both;
		text-align: center;
		font-family: 'Jua', sans-serif;
		font-size: 30px;
		background-color: #E1CCEC;
	}
	.countMonthImg img {
		width: 80%;
		border-radius: 30px;
		box-shadow: 1px 1px 10px 1px gray;
	}
	.countMonth:hover {
		background: #FDFFBC;

	}